<div class="col-md-9" id="context">
  <h1>SLOW</h1>
  <h4>A web framework</h4>
  <div id="whatis">
    <h2>What is SLOW?</h2>
    <p>
    SLOW is a web framework that help web developer focus on html,css,javascript and don't need care for server.
    You can develop web with LESS and Coffee and don't need compile them, SLOW will do them automatically.
    </p>
  </div>
  <div id="install">
    <h2>How to install?</h2>
    <p>Slow need be installed as global.</p>
    <pre>
      <code>
        sudo npm install -g slow-cli
      </code>
    </pre>
  </div>
</div>